body { 
    background-color: black;
    color: white;
    background-image: url("assets/homem-de-ferro-guerra-infinita-e1603289648504.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

img {
height: 300px;
border: 5px solid white;  
border-radius: 30px;

}

h1 {
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
padding: 20px;
background-color: red;
color: yellow;


}

footer p{

    color: red;
}

p {

    color: white            ;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
}

div{
 display: flex;
    align-items: center;
    justify-content: center;

}