body { 
    background-color: black;
    color: white;
}

img {
height: 300px;
border: 5px solid white;  
border-radius: 30px;

}

h1 {
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
padding: 20px;
background-color: red;
color: yellow;


}

footer p{

    color: red;
}

p {

    color: brown             ;
}