body { 
    background-color: black;
    color: white;
    background-image: url("assets/iron-man-pictures-0vznt5nxhi64027w.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

img {
height: 300px;
border: 5px solid white;  
border-radius: 30px;

}

h1 {
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
padding: 20px;
background-color: red;
color: yellow;


}

footer p{

    color: red;
}

p {

    color:     greenyellow  ;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
}

div{
 display: flex;
    align-items: center;
    justify-content: center;

}

.noticia1 {

    border: 5px solid black;  
border-radius: 30px;




}

.noticia2 {

    border: 5px solid black;  
border-radius: 30px;




}